<div class="piece300" id="cabernet-franc-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">品丽珠（Cabernet Franc）</label>
		<img width="280" src="/assets/grape/cabernet-franc.jpg"/>
		<label>
			品丽珠：为法国古老的酿酒品种，世界各地均有栽培，是赤霞珠、蛇龙珠的姐妹品种。她特有的个性是浓烈青草味，混合可口的黑加仑子和桑椹的果味，因酒体较轻淡，在当地她的主要功能是调和赤霞珠(Cabernet Sauvignon)和美乐(Merlot)，不过世界知名的Chateau Cheval Blanc(白马酒庄)却以她为主要成份。温度低而湿润的泥土的地区较适合品丽珠的生长，她钟情大陆型气候，且不怕在收割期碰上恶劣的天气。
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
