<div class="piece300" id="syrah-shiraz-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">西拉/设拉子（Syrah/Shiraz）</label>
		<img width="280" src="/assets/grape/syrah-shiraz.jpg"/>
		<label>
			“西拉”是一个古老的酿酒葡萄品种，关于它的起源，充满着神秘色彩。“西拉”是法国罗纳河谷(Rhone Valley)北部地区的经典品种，世界上有超过一半的西拉种植于法国。“西拉”又是澳大利亚酿酒葡萄品种的代表，在英语里称其为“Shiraz”，他喜欢温暖、干燥的气候，以及富含砾石、通透性好的土壤，其酿造的葡萄酒单宁突出，结构紧实，抗氧化能力好，适宜于陈年；具有辛辣、香料、野性气息。采用西拉酿造的葡萄酒类型也是丰富多样。因此，适配的菜品广泛，更多的可以搭配烧烤。西拉深色，高单宁，酒体重。有紫罗兰，巧克力，烟草，咖啡等香气。性格粗糙，像葡萄酒中的牛仔，豪迈粗犷。
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
