<%= form_for([@product,Image.new], :html => {:method => "post", :id => "images_form", :multipart => true}) do |f| %>
	<p class="notice">
	<% if flash[:notice] != nil %>
		<img src="/assets/error_01.png">&nbsp;<%= flash[:notice] %>
	<% end %>
	</p>
	<div id="images_uploader">
		<%= f.file_field :upload, :class => 'file_uploader_button'%>
		<%= f.hidden_field :upload_cache %>
		<ul class="ui-uploader-thumbImages ui-uploader-sorter" id="uploader_images_list"></ul>
		<ul id="ui-uploader-inProgress-hidden" style="display: none;">
			<li class="ui-uploader-inProgress">
				<div class="ui-uploader-content">
					<span class="ui-uploader-progress thumb"></span>
					<a href="##" name="" class="image_destroy_link ui-uploader-close" style="display: none"></a>
					<img class="thumb" style="display: none">
				</div>
			</li>
		</ul>
	</div>
<% end %>



