<div class="piece300" id="chardonnay-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">霞多丽（Chardonnay）</label>
		<img width="280" src="/assets/grape/chardonnay.jpg"/>
		<label>
			霞多丽，又叫做夏多内、莎当妮、雪当利，原产自勃艮第，是当前全球最受大家欢迎的葡萄品种，霞多丽是属于早熟型品种。因为霞多丽适合各类型耐冷，气候，而且产量高并且非常稳定，很容易种植，因此在全世界各大产区而霞多丽对土质的要求是带泥灰岩的石灰质土地最适合。而且会随着产区地质和环境的变化而改变，在非常寒冷的石灰质产区，如夏布利和香槟区，酒精淡，酸度高，主要以青苹果等绿色水果香味为主；对于较温和产区，如纳帕谷和马巩内，则口感非常柔顺，以热带水果如哈密瓜等成熟浓重香味为主。
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
