<div class="piece300" id="cinsaut-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">神索（Cinsaut）</label>
		<img width="280" src="/assets/grape/cinsaut.jpg"/>
		<label>
		神索（Cinsaut），又名仙梭，辛索，来源于法国，数个世纪以来神索就和法国南部朗格多克地区的葡萄酒行业一起成长。神索主要用于和佳丽酿等葡萄酒勾兑，但有时也用于生产单品种红葡萄酒。神索的皮薄，果实比其它红葡萄酒品种大得多，甚至可被当作鲜食葡萄，神索葡萄酒具有单宁含量低，酸度不高，有成熟的浆果气息，略带草莓酱和李子的风味。
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
