<div class="piece300" id="grenache-granacha-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">歌海娜（Grenache/Granacha）</label>
		<img width="280" src="/assets/grape/grenache-granacha.jpg"/>
		<label>
		歌海娜（Grenache/Granacha）是全世界最广泛种植的红葡萄品种之一，尤其是在西班牙、澳大利亚和法国这些气候炎热干燥的产区。用歌海娜所酿造的酒带有非常清爽柔顺的口感，果味浓郁，尤为讨人喜欢。由于这种葡萄果皮很薄，颜色很淡，非常容易酿造，因此在通常情况下，歌海娜常被用来和其他葡萄品种进行混酿，有时也用来酿成桃红葡萄酒。歌海娜的特点有：深紫色，含糖量高，果实结实，密度高，香气浓郁，含黑樱桃、黑醋栗、果酱、黑胡椒与甘草味，自然酒精度可达18%，酸度低，单宁中等。
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
