<div class="piece300" id="merlot-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">美乐（Merlot）</label>
		<img width="280" src="/assets/grape/merlot.jpg"/>
		<label>
			美乐（Merlot）是波尔多种植最广泛的品种，虽然赤霞珠的名气比它更大，但是你有可能在一瓶波尔多红酒里找不到赤霞珠，但是不可能在一瓶波尔多红酒里面找不到美乐。尤其在右岸地区美乐更是葡萄酒调和中的主力。美乐是早熟的一个品种，它们单宁含量低，喝到嘴里有甘甜味，它口味柔顺。由于它的单宁比赤霞珠要轻得多，所以很适合不喜欢刺激口味的消费者。美乐果香也是相当迷人的。通常你都可以嗅到李子,樱桃等小红果的气息，如果葡萄成熟度好还可以在酒里闻到成熟的李子果和李子干的风味，陈年的美乐有时会带有香料和动物皮毛的气息。
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
