<div class="piece300" id="nebbiolo-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">内比奥罗(Nebbiolo)</label>
		<img width="280" src="/assets/grape/nebbiolo.jpg"/>
		<label>
内比奥罗可能是在意大利最好的一个品种。在彼尔蒙地区Valrellina, Lombarby, Barolo, Barberesco和其它一些D.O.C 级的法定产区有较大的种植面积。纳比奥罗所酿制出来的红酒带有层次的复合型香味（茶叶香味，玫瑰，辛辣味及柏油香味），稳健的单宁结构，深厚的陈酿潜质。纳比奥罗需要最好的种植环境，否则它是不会完全成熟的。内比奥罗（Nebbiolo）这个名字源于“nebbia”在意大利文中的意思是 “雾”。这反应了纳比奥罗通常在年末采收的特性（晚熟型）。经试验证明除了在意大利外，迄今为止纳比奥罗在其他国家并不能良好地种植和酿制出好的红酒。
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
