<div class="piece300" id="tempranillo-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">丹魄（Tempranillo）</label>
		<img width="280" src="/assets/grape/nebbiolo.jpg"/>
		<label>
丹魄原产于伊比利亚半岛，后来成为西班牙的标志性红葡萄品种。最出色的丹魄产自里奥哈河谷，该产区位于西班牙中北部，得益于凉爽的大西洋气候与温暖的地中海气候。从丹魄的原意分析，Temprano有“早熟”之意，“小”的意思，整个单词之意为早熟的小葡萄。随着培育技术不断改进，丹魄的知名度越来越高，几乎与增芳德或解百纳齐名。典型的丹魄与里奥哈红酒会带有浆果、李子、烟草、香菜、皮革、药草的香气，酒体较轻，类似黑比诺或基安蒂红酒。
			
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
