<div class="piece300" id="cabernet-sauvignon-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">赤霞珠（Cabernet Sauvignon）</label>
		<img width="280" src="/assets/grape/cabernet-sauvignon.jpg"/>
		<label>
			赤霞珠形细小，深紫色，皮极厚，肉少核多，正因为如此，丹宁酸含量特高，如果酿制的时候让皮核长时间接触葡萄汁，发酵后的酒便极具长期陈放的潜能。赤霞珠酒的色泽深红带紫，保存得好的陈年赤霞珠色泽转浅，成为朱红色，酒的表面与杯接触的边缘往往会呈现棕色的环状折射，过旧的赤霞珠或其它红葡萄酒会变成淡棕色。 年轻的赤霞珠具有强烈的樱桃，红莓香味，收成时如果葡萄未全熟的话，便会带青椒，青草，薄荷味。存放数年之后又会转为接近深色的果实如黑加仑子的味道，这个时候，果味与橡木的木味混成一体，异常复杂。也有些赤霞珠带有较成熟的气息如咖啡豆，朱古力，烟草。
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
