<div class="piece300" id="pinot-noir-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">黑皮诺（Pinot Noir）</label>
		<img width="280" src="/assets/grape/pinot-noir.jpg"/>
		<label>
			黑皮诺（Pinot Noir）是法国勃艮第产区红葡萄酒的主要品种，全世界没有其他品种像黑皮诺这样如此难侍候，黑比诺的皮非常薄，种植难度非常大，对天气的依赖程度也很大，所以种出好的黑比诺是既需要水准，又需要运气的。黑皮诺酿出来的酒最能反映土质特色和矿物色彩，酒色不深，但细致圆润、变化丰富、适宜久存。黑皮诺适合种植于偏寒气候地区，和石灰粘土的山坡地。黑皮诺酿的酒有一种水果的香甜味，有樱桃，草莓的果香，陈酿后又有湿土，雪笳，蘑菇和巧克力的味道。口感非常和谐、自然。能够酿造出细致的红葡萄酒，也是很重要的香槟品种。除了法国，在新西兰、加利福尼亚和澳大利亚都有不错的表现。
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
