<div class="piece300" id="sangiovese-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">桑娇维塞（Sangiovese）</label>
		<img width="280" src="/assets/grape/sangiovese.jpg"/>
		<label>
		桑娇维塞是个晚熟品种，适合于温暖适中的气候，需要光照充足，在排水性较好的朝南或朝西南的坡地上种植表现最佳。由于该品种的果皮较薄，抵抗性不是很好，容易在潮湿的天气里腐烂，所以成熟期最好是干燥的天气，碰上雨季就糟了。据悉，galestro泥灰质粘土与alberese石灰岩粘土是种植桑娇维塞的最佳土壤。桑娇维赛所酿出的酒通常是干性，带有泥土气息，单宁高，酸度高，酒体中等，还带有一点樱桃味，草本味，蘑菇味及牲畜棚的气味，这种牲畜棚味以后会逐渐进化成天鹅绒般柔软的皮革味。如果在橡木桶中陈化，会增添一股香兰和烟草的风味。
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
