// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}

body {
	color: #2A2A2A;
	background-color: #F2F2F2;
	background-image: url(bg-v1.png);
}

body {
	font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体b8b\4f53',sans-serif;
}

div {
	display: block ;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

* { 
	font-family: Verdana; 
	font-size: 96%; 
}

label.error { 
	float: none; 
	color: red; 
	padding-left: .5em; 
	vertical-align: top; 
}

p { 
	clear: both; 
}

em { 
	font-weight: bold; 
	padding-right: 1em; 
	vertical-align: top; 
	color: red;
}

table {
	font-size: inherit;
	border-spacing: 0;
	display: table;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}


tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

td, th {
	display: table-cell;
	vertical-align: inherit;
	margin: 0;
	padding: 0;
}

th {
	font-style: normal;
	font-weight: normal;
}	

label {
	cursor: default;
}

#head_wrap, #foot_wrap, #body_wrap {
	min-width: 1230px;
}

#head_wrap {
	background: url(nav_bg_v1.png) repeat-x;
	margin-bottom: 10px;
}

#logo_bar {
	overflow: hidden;
	zoom: 1;
	height: 65px;
}

.logo_detail {
	display: block;
	text-indent: 60px;
	line-height: 60px;
	float: left;
	font-family: KaiTi;
	font-size: 26px;
	font-weight: bold;
	color: green;
}

#navigation {
	height: 40px;
	line-height: 37px;
}

#head_bottom {
	background: url(nav_bottom_bg_v1.png) repeat-x;
	height: 25px;
}

#left_body {
	min-width: 250px;
	float: left;
}

#right_body {
	min-width: 970px;
	float: left;
}
/* Piece 250px */
.piece250 {
	border-radius: 10px;
	width: 250px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.piece250 .piece_hd, .piece250 .piece_ft {
	height: 10px;
	background-color: white;
	position: relative;
	font-size: 0;
}

.piece250 .piece_hd {
	border-radius: 10px 10px 0 0;
	background: url(piece_bg.png) 0 -80px no-repeat;
}

.piece250 .piece_bd {
	background-color: white;
	padding-left: 10px;
	zoom: 1;
	height: 100%;
}

.piece250 .piece_ft {
	border-radius: 0 0 10px 10px;
	background: url(piece_bg.png) 0 -90px no-repeat;
}

/* Piece 300px */
.piece300 {
	border-radius: 10px;
	width: 300px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.piece300 .piece_hd, .piece300 .piece_ft {
	height: 10px;
	background-color: white;
	position: relative;
	font-size: 0;
}

.piece300 .piece_hd {
	border-radius: 10px 10px 0 0;
	background: url(piece_bg.png) 0 -40px no-repeat;
}

.piece300 .piece_bd {
	background-color: white;
	padding: 0 10px;
	zoom: 1;
	height: 100%;
}

.piece300 .piece_ft {
	border-radius: 0 0 10px 10px;
	background: url(piece_bg.png) 0 -50px no-repeat;
}

/* Piece 650px */
.piece650 {
	border-radius: 10px;
	width: 650px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.piece650 .piece_hd, .piece650 .piece_ft {
	height: 10px;
	background-color: white;
	position: relative;
	font-size: 0;
}

.piece650 .piece_hd {
	border-radius: 10px 10px 0 0;
	background: url(piece_bg.png) 0 -20px no-repeat;
}

.piece650 .piece_bd {
	background-color: white;
	padding-left: 10px;
	zoom: 1;
	height: 100%;
}

.piece650 .piece_ft {
	border-radius: 0 0 10px 10px;
	background: url(piece_bg.png) 0 -30px no-repeat;
}

/* Piece 960px */
.piece960 {
	border-radius: 10px;
	width: 960px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.piece960 .piece_hd1, .piece960 .piece_ft1, .piece960 .piece_hd2, .piece960 .piece_ft2 {
	height: 10px;
	background-color: white;
	position: relative;
	font-size: 0;
}

.piece960 .piece_hd1 {
	border-radius: 10px 10px 0 0;
	background: url(piece_bg.png) 0 -0px no-repeat;
}

.piece960 .piece_bd1 {
	background-color: white;
	padding-left: 10px;
	zoom: 1;
	height: 100%;
}

.piece960 .piece_ft1 {
	border-radius: 0 0 10px 10px;
	background: url(piece_bg.png) 0 -10px no-repeat;
}

.piece960 .piece_hd2 {
	border-radius: 10px 10px 0 0;
	background: url(piece_bg.png) 0 -60px no-repeat;
}

.piece960 .piece_bd2 {
	background-color: white;
	padding-left: 10px;
	zoom: 1;
	height: 100%;
}

.piece960 .piece_ft2 {
	border-radius: 0 0 10px 10px;
	background: url(piece_bg.png) 0 -70px no-repeat;
}

/* Piece 690px */
.piece690 {
	border-radius: 10px;
	width: 690px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.piece690 .piece_hd1, .piece690 .piece_ft1, .piece690 .piece_hd2, .piece690 .piece_ft2 {
	height: 10px;
	background-color: white;
	position: relative;
	font-size: 0;
}

.piece690 .piece_hd1 {
	border-radius: 10px 10px 0 0;
	background: url(piece_hd_690x10.png) no-repeat;
}

.piece690 .piece_bd1 {
	background-color: white;
	padding: 10px;
	zoom: 1;
	height: 100%;
	border: 1px solid #FF61A8;
	border-top: none;
	border-bottom: none;
}

.piece690 .piece_ft1 {
	border-radius: 0 0 10px 10px;
	background: url(piece_ft_690x10.png) no-repeat;
}

.piece690 .piece_hd2 {
	border-radius: 10px 10px 0 0;
	background: url(piece_hd_690x20.png) no-repeat;
}

.piece690 .piece_bd2 {
	background-color: white;
	padding: 10px;
	zoom: 1;
	height: 100%;
	border: 2px solid #FF61A8;
	border-top: none;
	border-bottom: none;
}

.piece690 .piece_ft2 {
	border-radius: 0 0 10px 10px;
	background: url(piece_ft_690x20.png) no-repeat;
}

.level1_title {
	color: green;
	font-weight: bold;
}

.level2_title {
	color: blue;
}

.desc_p {
    font-size: 14px;
    font-family: Kaiti;
    color: red;
}	

.mark_label {
	font-size: 22px;
	font-weight: bolder;
	line-height: 22px;
	padding: 0 10px;
	color: green;
}

.vertical li {
	line-height: 24px;
	margin: 0 5px;	
	outline: none;
	font-size: 14px;
}

.vertical li a {
	text-decoration: none;
	font-size: 12px;
	margin-left: 20px;
}

#error_explanation {
	margin-left: 92px;
}

#error_explanation img {
	vertical-align: middle;
	text-align: center;
}

#error_explanation li {
	margin-left: 6px;
	color: #FF69A3;
	font-weight: bold;
}

.notice {
	margin-left: 6px;
	color: #FF69A3;
	font-weight: bold;
	margin-bottom: 10px;
}

.control_bar {
	margin-top: 10px;
	margin-left: 20px;
	overflow: hidden;
	line-height: 30px;
}

.control_bar a {
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	background: #689200;
	border-radius: 7px;
	padding: 2px 8px 3px;
	color: white !important;
}

.login_info {
	font-size: 14px;
	font-weight: bold;
	margin: 0 3px;
	line-height: 16px;
	color: white;
}

.navi_list {
	width: 100%;
}

.fl {
	float: left;
	display: inline;
}

.navi_list li {
	float: left;
	padding: 0 12px 0 0;
	height: 32px;
	padding: 0 5px 0 0	9;
}

.navi_list .split {
	background: url(tutor_nav_icon_v1.png) no-repeat -653px 11px;
	padding: 0 12px;
	padding: 0 6px 0 12px	9;
}

.navi_list .import {
	font-size: 14px;
	font-weight: bold;
	margin: 0 3px;
}

.navi_list a {
	line-height: 16px;
	color: white;
	margin: 0 2px;
}

.navi_list .c {
	background: #689200;
	font-weight: bold;
	border-radius: 7px;
	padding: 2px 8px 3px;
}

.s80, .s80 a {
	width: 80px;
	height: 80px;
}







