<div class="piece300" id="malbec-desc" style="display: none;">
	<div class="piece_hd"></div>
	<div class="piece_bd">	
		<p class="desc_p">
		<label class="mark_label">马尔贝克（Malbec）</label>
		<img width="280" src="/assets/grape/malbec.jpg"/>
		<label>
		马贝克原产于法国，在波尔多地区，他是6种法定的红葡萄品种之一，属于早熟品种，香气强度中等，单宁含量丰富，能增强酒的陈储能力，通常在酿造调配的过程引入，用于增加颜色的深度和柔顺圆润的口感。法国西南产区是Malbec使用较多的地区,Cahors地区的葡萄酒就是以Malbec为主力的。马贝克在阿根廷获得了空前的成功，成熟，柔和，丰满，果香浓郁。除了在阿根廷，美国，澳大利亚和智利也有种植。
		</label>
		</p>
	</div>
	<div class="piece_ft"></div>
</div>
