<div class="piece690">
	<div class="piece_hd2"></div>
	<div class="piece_bd2">	
		<div id="product_register_form">
			<%= render 'form' %>
		</div>
	</div>
	<div class="piece_ft2"></div>
</div>

<div id="next_action" title="接下来……" style="display: none;">
	<p style="margin: 10px auto; color: green; text-align: center; font-weight: bold;">恭喜您，宝贝已经成功保存了</p>
	<div class="control_bar" style="margin: 0 auto; text-align: center;">
		<%= link_to "立即上传宝贝图片", "##",:id => "upload_images_link" %>
		<%= link_to "查看所有宝贝", products_url %>
	</div>
</div>

<%= javascript_include_tag "application" %>
