// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_name {
	margin-left: 20px;
	overflow: hidden;
	line-height: 30px;
}

.product_description {
	margin-top: 10px;
	margin-left: 20px;
	overflow: hidden;
	line-height: 30px;
}

#product_register_form {
	width: 360px;
}

#product_register_form span {
	color: #333;
	font-size: 14px;
	float: left;
	vertical-align: middle;
	text-align: center;
}

#product_register_form .text {
	border: 1px solid #CFCFCF;
	float: left;
	width: 254px;
	height: 30px;
	margin-left: 5px;
	line-height: 30px;
	border-radius: 3px;
	padding-left: 8px;
}

#product_register_form .actions {
	margin-left: 92px;
	margin-top: 20px;
	overflow: hidden;
	zoom: 1;
}



.product_name, product_description {
	margin-left: 20px;
	overflow: hidden;
	line-height: 30px;	
}




