<div class="piece960">
	<div class="piece_hd1"></div>
	<div class="piece_bd1">
		<h2>使用Vineyard管理平台，您可以轻松做到</h2>
	</div>
	<div class="piece_ft1"></div>
</div>
<div style="float: left;">
	<div class="piece300">
		<div class="piece_hd"></div>
		<div class="piece_bd">
			<p class="desc_p"><label class="mark_label">1</label>管理你的城市,轻松的掌握每个城市实时的营销情况,及时的获得当前的财物报表，灵活的开展各个城市的业务活动。</p>
		</div>
		<div class="piece_ft"></div>
	</div>	
	<div class="piece300">
		<div class="piece_hd"></div>
		<div class="piece_bd">
			<p class="desc_p"><label class="mark_label">2</label>随时收录新的品种，轻松的修改品种属性，灵活的增加多媒体信息以丰富产品的介绍和内容。也可以方便的获得各个品种的销售情况，为长期营销决策提供强有力的数据支持，以实现资源的优化配制，获得最大的利润。</p>
		</div>
		<div class="piece_ft"></div>
	</div>
</div>
<div style="float: left;">
	<div class="piece650">
		<div class="piece_hd"></div>
		<div class="piece_bd">
			<p class="desc_p"><label class="mark_label">3</label>灵活的配制产品在各个城市的配送量，轻松的调整产品在各个城市的价格走势。</p>
		</div>
		<div class="piece_ft"></div>
	</div>
</div>
